*.dart linguist-language=Dart
*.java linguist-vendored
*.xml linguist-vendored
*.gradle linguist-vendored
*.kt linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.m linguist-vendored
*.swift linguist-vendored
